apiVersion: v1
kind: Namespace
metadata:
  name: appsolo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: appsolo-controller
  namespace: appsolo
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: appsolo-controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: appsolo-controller
    spec:
      serviceAccountName: appsolo-controller
      containers:
        - name: controller
          image: ghcr.io/appsolo-com/appsolo-controller:v0.1.0
          args:
            - --v=5
          livenessProbe:
            httpGet:
              port: 8080
              path: /healthz
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: appsolo-controller
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: appsolo-controller
  namespace: appsolo
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: appsolo-controller
rules:
  - verbs:
      - get
      - list
      - watch
      - delete
      - update
      - create
    apiGroups:
      - ""
    resources:
      - pods
      - services
      - statefulsets
# For leader election
# ---
# apiVersion: rbac.authorization.k8s.io/v1
# kind: Role
# metadata:
#   name: appsolo-controller
#   namespace: appsolo
# rules:
#   - apiGroups:
#       - coordination.k8s.io
#     resources:
#       - leases
#     verbs:
#       - create
#       - get
#       - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: appsolo-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: appsolo-controller
subjects:
  - kind: ServiceAccount
    name: appsolo-controller
    namespace: appsolo
# ---
# apiVersion: rbac.authorization.k8s.io/v1
# kind: RoleBinding
# metadata:
#   name: appsolo-controller
#   namespace: appsolo
# roleRef:
#   apiGroup: rbac.authorization.k8s.io
#   kind: Role
#   name: appsolo-controller
# subjects:
#   - kind: ServiceAccount
#     name: appsolo-controller
#     namespace: appsolo
